<section class="wrrapNavbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md bg-faded justify-content-center nav-custom fixed-top navbar-default">
        <div class="container">
            <a href="/" class="navbar-brand d-flex w-50 mr-auto">PASSARELLA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/damas/" routerLinkActive="active">DAMAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/caballeros/" routerLinkActive="active">CABALLEROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/ninos/" routerLinkActive="active">NIÑOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>