<div class="container">

    <swiper [config]="config">

        <div class="swiper-slide"><img src="assets/imagenes/activitta.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/beirariologo.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/kidy.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/molecalogo.png" class="img-thumbnail"></div>

        <div class="swiper-slide"><img src="assets/imagenes/molekinha.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/molekinho.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/piccadilly.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/viaunologo.png" class="img-thumbnail"></div>
        <div class="swiper-slide"><img src="assets/imagenes/vizzanologo.png" class="img-thumbnail"></div>

    </swiper>

</div>